* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #f9ecd9;
  min-height: 100vh;
  border: solid 5px #af462e;
}

.App-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 800px;
  margin: 0px auto;
  justify-content: center;
  padding: 30px 35px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #af462e;
}
::-webkit-scrollbar-thumb {
  background: #f9ecd9;
  border: solid 3px #af462e;
  border-radius: 15px;
}

.TextOverImg{
  position: absolute !important;
  top: 25px;
  left: 17%;
  margin-bottom: -50px;
  color: #FF0000 !important;
  width: 500px;
}

.WesStyle {
 margin-left:50%;
 transform: translateX(-50%);
}